In [161]:
from cleantext import clean
import time
import requests
import nltk
from nltk.corpus import stopwords
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
from sqlalchemy import create_engine
import pandas as pd
from config import password

In [ ]:
# Set up Mongo Connection
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'webDB' database
db = client.webDB

In [ ]:
# Start browser and go to main starting point
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

main_url = 'https://www.ccu.edu/undergrad/'

browser.visit(main_url)

In [ ]:
# Grab the html to work with in BeautifulSoup
html = browser.html

In [ ]:
# Parse with BeautifulSoup to start reading
program_soup = bs(html, 'html.parser')

In [ ]:
# Find the list element for the program listing, then drill down to <a> tag
program_urls = program_soup.select('li a.uk-panel')

**Note**: The following article was referenced to teach myself / learn the `nltk` library, and I used the code provided as a starting point and adapted as necessary: https://towardsdatascience.com/gentle-start-to-natural-language-processing-using-python-6e46c07addf3 - written by Raheel Shaikh

In [ ]:
webpage_info = []

# Loop through each page and get webpage information
for u in program_urls:
    
    # Loop through each link on programs page
    program_link = u.get('href')
    program_url_full = f'https://www.ccu.edu/undergrad/{program_link}'
    browser.visit(program_url_full)
    
    # Get Browser HTML
    page_html = browser.html
    page_soup = bs(page_html, 'html.parser')
    page_url = browser.url
    page_title = page_soup.find('title').text
    page_h1 = page_soup.find('h1').text
    page_paras = page_soup.select('article')
    page_text = []
    
    # Get page text -- SEE NOTE ABOVE
    for p in page_paras:
        page_text.append(p.text)
        
        # Clean the page text
        clean_paras = clean(page_text, no_punct=True)
        tokens = [t for t in clean_paras.split()]
        clean_tokens = tokens[:]
        
        # Remove all English stop-words
        for token in tokens:
            if token in stopwords.words('english'):
                clean_tokens.remove(token)
        
        # Find the frequency of all new words
        freq = nltk.FreqDist(clean_tokens)
        
        # Set up empty list, loop through and create dictionary for page's most commen words and their count
        freq_words = []
        for key,val in freq.most_common(10):
            words_dict = {}
            words_dict["word"] = key
            words_dict["count"] = val
            freq_words.append(words_dict)
    
    # Print to terminal to make sure it's working
    print(page_title, freq_words)
    print('---------------------')
    
    # Add all information to a dictionary 
    page_dict = {}
    page_dict['page_url'] = page_url
    page_dict['page_title'] = page_title
    page_dict['page_h1'] = page_h1
    page_dict['page_paras'] = p.text
    page_dict['page_words_freq'] = freq_words
    
    # Append Dictionary to the master 'webpage_info' list
    webpage_info.append(page_dict)
    
    # Add Dictionary to MongoDB
    db.webDB.insert_one(page_dict)

In [ ]:
# Close the browser 
browser.quit()

In [ ]:
# Set up and display all data in a dataframe
web_info_df = pd.DataFrame(webpage_info)
web_info_df

In [ ]:
# Create a master DF with url, page title, h1, and all of the page text
master_df = web_info_df.drop(['page_words_freq', '_id'], axis=1)

In [ ]:
# Display master_df to check it
master_df

In [ ]:
# Set up an empty list of "page words"
pages_words = []

In [ ]:
# Loop through the original dataframe
for index, row in web_info_df.iterrows():
    
    # loop through the 'page_words_freq' column
    for n in row['page_words_freq']:
        
        # Set up an empty dictionary 
        page_info_dict = {}
        
        # Get the word and count, add page URL from first for-loop 
        word = n['word']
        count = n['count']
        url = row['page_url']
        
        # Create key-value pairs and append to dictionary
        page_info_dict['word'] = word
        page_info_dict['count'] = count
        page_info_dict['page_url'] = url
        pages_words.append(page_info_dict)

In [ ]:
# Create a DataFrame from "page_words"
page_df = pd.DataFrame(pages_words)

In [ ]:
# Show page_df to make sure it's correct
page_df

In [ ]:
# Find one word, display all pages that contain it
page_df.loc[page_df['word'] == 'minor']

In [ ]:
# Create a dataframe where words are grouped together, get their sum of appearance and sort them by occurance
words_grouped_df = page_df.groupby('word').sum().sort_values('count', ascending=False)

In [ ]:
# Show to make sure it's correct
words_grouped_df

In [ ]:
# Connect to postgreSQL 
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/web_db')
connection = engine.connect()

In [ ]:
# Add master_df as table 'main_web' in database
master_df.to_sql('main_web', index=False, con=connection)

In [ ]:
# Add 'page_df' as 'page_info' table in database
page_df.to_sql('page_info', index=False, if_exists:'replace', con=connection)

In [ ]:
# Add 'words_grouped_df' as 'words_grouped' table in database
words_grouped_df.to_sql('words_grouped', index=True, if_exists:'replace', con=connection)

# BLS Data

In [188]:
# Start browser and go to main starting point
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

bls_url = 'https://www.bls.gov/ooh/field-of-degree/home.htm'

browser.visit(bls_url)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\coled\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [189]:
home_html = browser.html

In [190]:
bls_soup = bs(home_html, 'html.parser')

In [191]:
degree_fields = bls_soup.select('table ul li a')

In [192]:
bls_urls = []
for d in degree_fields:
    url = d.get('href')
    bls_urls.append(url)

In [193]:
bls_base_url = 'https://www.bls.gov'

In [194]:
bls_info = []

In [195]:
field_id = 0

In [196]:
for u in range(len(bls_urls)):
    browser.visit(f"{bls_base_url}{bls_urls[u]}")
    bls_html = browser.html
    bls_soup = bs(bls_html, 'html.parser')
    page_h1 = bls_soup.find('h1').text.strip()
    
    tables = pd.read_html(bls_html)[0]
    table_invert = tables.set_index('Data').T

    table_dict = {}
    table_dict['field_id'] = field_id
    table_dict['field_name'] = page_h1.split(':')[1]
    table_dict['employment'] = table_invert["Employment"][0]
    table_dict['median_wage'] = table_invert["Median wage"][0]
    bls_info.append(table_dict)
    
    field_id += 1

In [197]:
browser.quit()

In [198]:
main_bls_df = pd.DataFrame(bls_info)

In [199]:
main_bls_df

    field_id                            field_name employment median_wage
0          0                           Agriculture     610070     $50,000
1          1                          Architecture     442200     $63,000
2          2                               Biology    2990900     $65,000
3          3                              Business   12179050     $62,000
4          4                        Communications    2629340     $50,000
5          5             Communications technology     116550     $46,000
6          6   Computer and information technology    2302770     $83,000
7          7                          Construction     132150     $80,000
8          8            Culture and gender studies     264390     $54,000
9          9                             Education    5453280     $47,000
10        10                           Engineering    4700460     $90,000
11        11              Engineering technologies     462110     $75,000
12        12                               English    1733540     $50,000
13        13          Family and consumer sciences     477410     $40,000
14        14                             Fine arts    2603630     $40,000
15        15                      Foreign language     764860     $52,000
16        16                Healthcare and related    4699990     $61,000
17        17                               History    1203010     $57,000
18        18             Interdisciplinary studies     528700     $50,000
19        19                 Law and legal studies     120850     $52,000
20        20                          Liberal arts     730380     $50,000
21        21                       Library science      31030     $46,000
22        22                           Mathematics     892200     $70,000
23        23                  Mechanics and repair      25110     $48,000
24        24                              Military       7850     $66,000
25        25                     Natural resources     445680     $50,000
26        26        Personal and culinary services      65280     $35,100
27        27               Philosophy and religion     462210     $54,000
28        28                      Physical science    1806350     $70,000
29        29                            Psychology    3035610     $48,000
30        30     Public policy and social services     865860     $45,000
31        31                Recreation and fitness     724290     $46,000
32        32                  Science technologies      16080     $60,000
33        33       Security and protective service    1191040     $50,000
34        34                        Social science    4528730     $60,000
35        35                              Theology     376930     $40,000
36        36                        Transportation     150740     $77,000